<app-example-pdf-viewer></app-example-pdf-viewer>

<div class="side-notes" [style.transform]="transformValue">
  <div class="side-menu" (click)="onClick()">
    <p>Notas</p>
  </div>
  <div class="card">
    <p>Agendado com fulano a informação X</p>
    <p class="card-bottom">Paulo - 13/02/2023 14:23</p>
  </div>
  <div class="card">
    <p>Agendado com fulano a informação X</p>
    <p class="card-bottom">Paulo - 13/02/2023 14:23</p>
  </div>
  <div class="card">
    <p>Agendado com fulano a informação X</p>
    <p class="card-bottom">Paulo - 13/02/2023 14:23</p>
  </div>
</div>

<router-outlet></router-outlet>
